$border_color: #dedede;
$hover_color: #7725dc;
$transition: all .2s ease-out;

div.ticTOC {
    font-size: 13px;

    ul {
        border-left: 1px solid $border_color;

        li {
            position: relative;
            padding-left: 15px;

            &:before {
                content: "";
                position: absolute;
                top: 6.4px;
                left: -3px;
                background: $hover_color;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                opacity: 0;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            a {
                display: block;
                text-decoration: none;
                color: #4e4e4e;

                &:hover {
                    color: $hover_color;
                }

                &.active {
                    font-weight: 700;
                    color: #400cd4;
                }
            }
            
            &.ticTOC_title {
                a {
                    &:after {
                        content: "";
                        display: block;
                        width: 50%;
                        height: 1px;
                        margin: 10px 0;
                        background: $border_color;
                    }
                }
            }
        }
    }
}
