$border_color: #dedede;

$anchor_color: #4e4e4e;
$hover_color: #4d1ade;
$active_color: #400cd4;

$transition: all .2s ease-out;

div.ticTOC {
    font-size: 13px;

    ul {
        border-left: 1px solid $border_color;

        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 7.5px;

            &:before {
                content: "";
                position: absolute;
                top: 6.4px;
                left: -3px;
                width: 6px;
                height: 6px;
                background: $border_color;
                border-radius: 50%;
                opacity: 0;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }

            a {
                display: block;
                text-decoration: none;
                color: $anchor_color;

                &:hover {
                    color: $hover_color;
                }
            }

            &.active {
                &:before {
                    opacity: 1;
                    background: $active_color;
                }

                a {
                    font-weight: 700;
                    color: $active_color;
                }
            }

            /**
            *   Heading types
            */
            &.type_ {
                &title {
                    a {
                        &:after {
                            content: "";
                            display: block;
                            width: 50%;
                            height: 1px;
                            margin-top: 10px;
                            background: $border_color;
                        }
                    }
                }

                &subitem {
                    padding-left: 30px;
                }
            }
        }
    }
}
