body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 500px;
}

a {
    color: #4d1ade;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*
 * Navbar
 */
div.nav {
    background: #400cd4;
}

nav.navbar.is-dark {
    padding: 15px;
    background: transparent;
}

nav.navbar div.navbar-start a.navbar-item {
    padding: 0;
    font-weight: 800;
    font-size: 1.3rem;
}

nav.navbar div.navbar-start a.navbar-item:hover {
    background: transparent !important;
}


nav.navbar div.navbar-end div.navbar-item {
    padding: 0;
}

@media (max-width: 1087px) {
    nav.navbar div.navbar-start {
        display: none;
    }

    nav.navbar div.navbar-end {
        margin: auto;
        display: table;
        padding-top: 1px;
    }

    nav.navbar div.navbar-end div.navbar-item {
        color: #fff;
    }

    nav.navbar div.navbar-end div.navbar-item a.button {
        margin-top: -1px;
    }
}

/*
 * Content
 */
div.columns {
    margin-top: 30px;
}

div#article-content {
    margin-top: -3px;
}

div.toc-column {
    max-width: 250px;
}

footer.footer {
    margin-top: 60px;
    padding: 4rem 0;
}
